name: cicd

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:

      - name: Shorten commit id
        shell: bash
        run: |
          echo "COMMIT_ID=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_REPO }}:${{ env.COMMIT_ID }}
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_REPO }}:latest
    outputs:
      commit_id: ${{ env.COMMIT_ID }}
      
  cd:
    needs: ci
    runs-on: self-hosted
    steps:

      - name: Install Argocd
        shell: bash
        run: |
          curl -ksSL -o argocd https:/argocd-server.argocd/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/argocd

      - name: Argocd app sync
        shell: bash
        run: |
          argocd login ${{ vars.ARGOCD_SERVER }} --insecure --grpc-web --username ${{ vars.ARGOCD_USERNAME }} --password ${{ secrets.ARGOCD_PASSWORD }}
          argocd app set ${{ vars.ARGOCD_APPNAME }} -p image.tag=${{ needs.ci.outputs.commit_id }} -p env[0].value=${{ vars.INFO_MESSAGE }}
          argocd app sync ${{ vars.ARGOCD_APPNAME }} --grpc-web
